@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family:'Cabin', sans-serif;
    background-color: rgb(230, 173, 190);
    margin: 10px;
}

nav {
    border: 1px;
    margin: 10px;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #53afc9;
    border-radius: 10px;
}

a:hover {
    background-color: #a5d7ed;
    color: black;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: #faeaf2;
    
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    flex-direction: column;
}

.stats-container {
    display: flex;
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px rgb(148, 105, 113);
    border-radius: 7px;
}

.stats-card {
    background-color: #846163;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
    color: rgb(249, 248, 255);
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px rgb(192, 228, 255);
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    background-color: #846163;
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: rgb(255, 240, 241);
    color: black;
   
}